<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup AYUSH Portal</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>

<body>
    <header>
        <section class="head">
            <img src="Government_of_India_logo.png" alt="Government_of_India_logo" width="152">
            <img src="emblem.png" alt="Emblem" width="41">
            <img src="ministry-of-ayush.png" alt="ministry-of-ayush" width="90">
            <img src="g20.png" alt="G20 Logo" width="85">
            <div id="language-container">
                <label for="language"></label>
                <select name="language" id="language">
                    <option value="English">English</option>
                    <option value="हिन्दी">हिन्दी</option>
                    <option value="தமிழ்">தமிழ்</option>
                    <option value="తెలుగు">తెలుగు</option>
                    <option value="বাঙালি">বাঙালি</option>
                    <option value="मराठी">मराठी</option>
                </select>
            </div>
        </section>
        <section class="startup">
            <h1>Startup-AYUSH</h1>
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Search...">
                <button id="search-button" class="search-icon">&#128269;</button>
            </div>
            <div class="login">
                <a href="login" target="_blank" class="login-link">&#128274; Login</a>
                <a href="register" target="_blank" class="register-link">&#128100; Register</a>
            </div>
        </section>
    </header>
    <main>
        <section>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about_section">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Startups</a></li>
                    <li><a href="#">Scheme & Policies</a></li>
                    <li><a href="#">Contact Us</a></li>

                </ul>
            </nav>
        </section>
        <section class="container">
            <figure>
                <img src="frontpage.png" alt="Image" width="250px">
            </figure>
            <section class="center-box">
                <h2>Latest Startups</h2>
                <div>
                    <img src="Patanjali_Logo.png" alt="Patanjali_Logo" width="150px">
                    <p>Patanjali Ayurved is an Indian multinational conglomerate holding company, based in Haridwar,
                        India. It was founded by Baba Ramdev and Acharya Balkrishna in 2006. It's office is in Delhi,
                        with manufacturing units and headquarters in the industrial area of Haridwar.<a
                            href="https://www.patanjaliayurved.net/" target="_blank">see more</a></p>
                    <hr>
                    <img src="Dabur_Logo.png" alt="Dabur_Logo" width="150px">
                    <p>Dabur India Ltd, a company that was set up in 1884 and is considered as one of the best herbal
                        range brands in India. They offer products for skincare, diseases, health concerns, and personal
                        care too. The Dabur Chyawanprash is the most popular, widespread, and demanded Ayurvedic product
                        in the marketplace.<a href="https://www.dabur.com/">see more</a></p>
                    <hr>
                    <img src="The_Himalaya_Drug_Company_logo.png" alt="The_Himalaya_Drug_Company_logo" width="150px">
                    <p>Himalaya Wellness: A company that was founded in 1930 and is a pioneer in the field of herbal
                        healthcare. They offer a wide range of products for various health needs such as immunity,
                        stress, liver care, diabetes, etc.<a href="https://himalayawellness.in/">seemore</a></p>
                </div>
            </section>
            <section class="sidebar">
                <h3>News &Updates</h3>
                <ul>
                    <li><a href="https://pib.gov.in/PressReleaseIframePage.aspx?PRID=1821631#:~:text=Student%20Ayurveda%20startup%20gets%20Rs,Investment%20and%20Innovation%20Summit%202022&text=Ministry%20of%20Ayush%20has%20taken,the%20field%20of%20traditional%20medicines"
                            target="_blank">Student Ayurveda startup gets Rs 2.50 crore funding at Global A...</a>
                    </li>
                    <li><a href="https://www.businesstoday.in/latest/in-focus/story/ayush-ministry-to-operationalise-12500-health-and-wellness-centres-to-disburse-about-rs-720-crore-to-southern-states-397224-2023-09-06"
                            target="_blank">Ayush Ministry to operationalise 12,500 health and wellness centr...</a></li>
                    <li><a href="https://www.biospectrumindia.com/news/22/17506/ayush-ministry-to-set-up-5-incubation-centres-in-coming-months.html"
                            target="_blank">AYUSH Ministry to set up 5 incubation centres in coming months...</a></li>
                    <li><a href="https://thelogicalindian.com/health/aiia-ayush-start-up-challenge-34100"
                            target="_blank">AIIA Launches Ayush Start-Up Challenge To Encourage Innovatio...</a></li>
                </ul>
            </section>
        </section>
    </main>
</body>

</html>
