<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="style_login.css">
</head>

<body>
    <header>
        <img src="emblem.png" alt="Emblem" width="20">
        <img src="ministry-of-ayush.png" alt="ministry-of-ayush" width="45">
    </header>
    <main>
        <div class="main-content">
            <div class="container-inner">
                <div class="text-container">
                    
                   <h2>About Startup AYUSH Portal!</h2> 

                    <p> Log in now to join our vibrant community of AYUSH startups, investors, incubators, accelerators,
                    government agencies, and fellow enthusiasts. Experience a dynamic platform built for collaboration
                    and interaction within the AYUSH system.</p>
                
                    <p>Let's explore and innovate together!</p>
                </div>
                <div class="login-container">
                    <h1>LOGIN</h1>
                    <form class="login-form"  method="post" action="/login">
                        <input type="email" id="username" name="email" size="38" placeholder="Enter your Email" autofocus
                            required><br><br>
                        <input type="password" id="password" name="password" placeholder="Password" required><br><br>

                        <input type="submit" value="Login">
                    </form>
                    <p class="forgot-password"><a href="forgot_password">Forgot Password?</a></p>
                    <p class="register">Don't have an account? <a href="register">Register Now</a></p>
                    <img src="emblem.png" alt="Emblem" width="35">
                    <img src="ministry-of-ayush.png" alt="ministry-of-ayush" width="80">
                    <img src="g20.png" alt="G20 Logo" width="75">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <img src="Ministry-of-AYUSH-logo.png" alt="Ministry-of-AYUSH-logo" width="100px">
        <img src="azadi-ka-amrit-mahotsav.png" alt="azadi-ka-amrit-mahotsav" width="50px">
    </footer>
</body>

</html>

<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Login</title>
</head>
<body>
    <main>
    <form method="post" action="/login">
        <h1>Login Now</h1>
        
        <input type="email" name="email"placeholder="Email"/>
        <input type="password" name="password" placeholder="Password"/>
       <p class="error"><%=locals.message%></p>
        <button type="submit">Log In</button>
     </form>  
     </main>
</body>
</html>
-->