<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="style_register.css">
</head>

<body>
    <header>
        <img src="emblem.png" alt="Emblem" width="20">
        <img src="ministry-of-ayush.png" alt="ministry-of-ayush" width="45">
    </header>
    <main>
        <div class="main-content">
            <div class="container-inner">
                <div class="text-container">

                    <h2>Welcome to the Startup AYUSH Portal!</h2>

                    <p> Unlock AYUSH's Future with Us! Join a dynamic ecosystem where innovation thrives.
                        Entrepreneurs, investors, and government agencies - we've got you covered.</p>
                    <p> Register now to shape AYUSH's future!</p>
                    <p> Want to know more about it ? <a href="demo1.html/about_section">Click Here</a></p>
                </div>
                <div class="register-container">
                    <h1>REGISTER</h1>
                    <form class="register-form"  method="post">
                        <input type="text" id="username" name="name" placeholder="Enter your Name" autofocus
                            required><br><br>
                        <input type="email" id="email" name="email" placeholder="Enter your Email" required><br><br>
                        <input type="password" id="password" name="password" placeholder="Enter password"><br><br>
                        <input type="submit" value="Register">
                    </form>
                    <p class="register">Already have an account? <a href="login">Login</a></p>
                    <img src="emblem.png" alt="Emblem" width="35">
                    <img src="ministry-of-ayush.png" alt="ministry-of-ayush" width="80">
                    <img src="g20.png" alt="G20 Logo" width="75">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <img src="Ministry-of-AYUSH-logo.png" alt="Ministry-of-AYUSH-logo" width="200px">
        <img src="azadi-ka-amrit-mahotsav.png" alt="azadi-ka-amrit-mahotsav" width="150px">
    </footer>
</body>

</html>
<!--

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" />
    <title>Login</title>
</head>
<body>
    <main>
    <form method="post">
        <h1>Register Now</h1>
        <input type="text" name="name" placeholder="Name" />
        <input type="email" name="email"placeholder="Email"/>
        <input type="password" name="password"placeholder="Password"/>
        <button type="Sign Up">Log In</button>
     </form>  
     </main>
</body>
</html>
-->